# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/schoolos"

# Auth
NEXTAUTH_SECRET="your-super-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# App URLs
ADMIN_APP_URL="http://localhost:3000"
TEACHER_APP_URL="http://localhost:3001"
MARKETING_APP_URL="http://localhost:3002"
